.body {
    width: 1280px;
}

.header {
    margin: 63px auto 38px 98px;
    font-size: 80px;

}
.header-link {
    text-decoration: none;
}
.header-link {
    text-decoration: none;
}
.main-section {
    width: 1280px;
}
.header-first-part {
    text-transform: capitalize;
    color: black;
}
.header-second-part {
    color: #2879c5;
}

.navmenu {
    font-size: 24px;
    font: Roboto;
    color: #FFFFFF;
    text-align: center;
    background-color: #35444F;
    height: 72px;
    list-style: none;
    margin: 38px 98px 48px 98px;
    border-left: 1px solid white;

}
.navmenu ul {
    display: inline-block;
    list-style: none;
    padding: 0 15px;
    margin: 0 15px;
}

.navmenu-item {
    border-left: 1px solid white;
    font-size: 27px;
    display: inline-block;
    padding: 25px;
}
.navmenu-item:hover {
    background-color: #222F3A;
}
.aside-menu {
    width: 344px;
    height: 399px;
    border: 1px solid #000000;
    margin: 48px 52px 583px 100px;
    font-size: 27px;
    color: #495863;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.aside-menu li {
    flex-shrink: initial;
    padding: 26px 31px;


}
.menu-item:hover {
    background-color: #DBDBDB;
    width: 100%;
}
.bottom-list {
    font-size: 24px;
    font: Roboto;
    color: #010101;
    padding: 26px 38px 19px;
    text-align: center;
    background-color: #63696E;
    width: 100%;
    display: flex;
    height: 69px;
    list-style: none;
    margin: 38px 98px 48px 98px;
    border: 1px solid white;
    padding: 25px 45px;
}
.bottom-menu {
    width: 100%;
}
.main-section {
    display: flex;
    justify-content: space-between;
    height: 529px;
}
.animal-img-container {
    width: 885px;
    height: 529px;
    margin: 0 auto;
    display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
}
.bottom-item:hover {
    color: lightblue;
    border-bottom: 1px solid lightblue;
}
.bottom-item {
    font-size: 28px;
    padding: 25px 45px;
}
.animal-description {
    width: 885px;
    margin-left: 496px;
    margin-top: 37px;
    font-size: 18px;
    line-height: 24px;
    height: 120px;
}
.last-bottom-item {
    align-items: flex-end;
    margin-left: 75px;
}